<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Login</title>
</head>
<body> 
        <h1>Shipping Port Authentication Page</h1>
        <h4>
            To use this API, you must authenticate through Auth0 with either an Auth0 account or Google account.
        <br> 
            Authenticating with a Google account shares the name, email address, language preferences, and profile picture 
            associated with the account to Auth0.
        </h4>
        <p><a href="/weblogin">Click here to authenticate with Shipping Port</a></p>

</body>
</html>